.icon-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.icon-container img {
    width:80px;
    height: 80px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fffdfb;
    margin: 0;
    padding: 0;
    color: black;  
}
.login-container{
    background-color: white;
    border-color: rgb(201, 201, 201);
    border-style:solid;
    border-width: 1px;
    border-radius: 7px;
    width: 500px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px
}
.content-intro {
    padding: 0;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    margin-top: 0px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    width: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}

input {
    background-color:#ffffff ;
    border-color: rgb(189, 189, 189);
    color: black;
    padding: 10px;
    margin: 15px;
    border-radius: 6px;
    display: block;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    border-color: rgb(189, 189, 189);
}



